div{
    font-size: 12px;
}
#jar table th, td{
    text-align: center;
}
#jar table td:first-child{
    text-align: left;
}

.select2-results {
    max-height: 200px;
}
.icons{
    height:25px;
    width:25px;
}

.flags{

}

#intro-div{
    height: 700px;
    background-image: url('../images/into.png');
    background-repeat: no-repeat;
    background-color: #ffffff;    
}

#plate-div{
    /*margin:0px auto;
    left:30%;
    width: 100%;*/
    height: 396px;
    background-image: url('../images/plate_.jpg');
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.food-icon{
    position: relative;
    width: 60px;
    height: 60px;
    border: 0px;
}

.food-wrapper{
    position: relative;
    top:100px;
    left: 25px;
    width: 250px;
    height: 240px;
    border: 0px;
    display:inline-block;
    text-align: center;
}

.food-wrapper th,td{
    padding: 0px;
    vertical-align:center;
}

.food-wrapper tr{
    height: 10px;
    padding: 0px;
}

.A{
    top:90px;
}
.I{
    left:150px;
}

.B{
    top:120px;
}

.I{
    left:180px;
}

body {
    padding: 25px;
}

.stravovacichod {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stravovacichod:after {
    content: "";
    clear: both;
}

.stravovacichod {
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    height: 70px;
    position: relative;
    width: 120px;
}

.stravovacichod label {
    background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
}

.stravovacichod + .stravovacichod {
    margin-left: 10px;
}

.breakfast label {
    background-image: url('../images/plate/ranajky.jpg');
}

.snack label {
    background-image: url('../images/plate/desiata.jpg');
}

.lunch label {
    background-image: url('../images/plate/obed.jpg');
}

.teatime label {
    background-image: url('../images/plate/olovrant.jpg');
}

.dinner label {
    background-image: url('../images/plate/vecera.jpg');
}

.stravovacichod input:focus + label {
    outline: 2px dotted #21b4d0;
}

.stravovacichod input:checked + label {
    outline: 4px solid #21b4d0;
}

.stravovacichod input:checked + label:after {
    background: url('../images/check.png');
    bottom: -10px;
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
    right: -10px;
    width: 20px;
}

@-moz-document url-prefix() {
    .stravovacichod input:checked + label:after {
        bottom: 0;
        right: 0;
        background-color: #21b4d0;
    }
}

.glass{
    width: 150px;
}
